services:

  clickhouse:
    image: clickhouse/clickhouse-server:latest
    container_name: clickhouse
    ports:
      - "8123:8123"
      - "9000:9000"
    environment:
      CLICKHOUSE_USER: analytics
      CLICKHOUSE_PASSWORD: analytics_password
      CLICKHOUSE_DB: analytics
    volumes:
      - clickhouse_data:/var/lib/clickhouse
    ulimits:
      nofile:
        soft: 262144
        hard: 262144
  kafka:
    image: apache/kafka:latest
    container_name: kafka
    ports:
      - "9092:9092"
    environment:
      KAFKA_CLUSTER_ID: "YRbrDepYQdiQFJC4mhQN4Q"
    volumes:
      - kafka-data:/var/lib/kafka/data
      - ./kafka/server.properties:/opt/kafka/config/kraft/server.properties:ro
    command: >
      bash -lc '
        set -e
        if [ ! -f /var/lib/kafka/data/meta.properties ]; then
          /opt/kafka/bin/kafka-storage.sh format -t "$KAFKA_CLUSTER_ID" -c /opt/kafka/config/kraft/server.properties
        fi
        /opt/kafka/bin/kafka-server-start.sh /opt/kafka/config/kraft/server.properties
      '
  minio:
    image: minio/minio:latest
    container_name: minio
    ports:
      - "9002:9000"   # host:container
      - "9003:9001"
    environment:
      MINIO_ROOT_USER: minio
      MINIO_ROOT_PASSWORD: minio_password
    command: server /data --console-address ":9001"
    volumes:
      - minio_data:/data

volumes:
  kafka-data:
  clickhouse_data:
  minio_data: