services:

  clickhouse:
    image: clickhouse/clickhouse-server:latest
    container_name: clickhouse
    ports:
      - "8123:8123"
      - "9000:9000"
    environment:
      CLICKHOUSE_USER: analytics
      CLICKHOUSE_PASSWORD: analytics_password
      CLICKHOUSE_DB: analytics
    volumes:
      - clickhouse_data:/var/lib/clickhouse
    ulimits:
      nofile:
        soft: 262144
        hard: 262144
  kafka:
    image: apache/kafka:latest
    container_name: kafka
    ports:
      - "9092:9092"
    environment:
      KAFKA_CLUSTER_ID: "YRbrDepYQdiQFJC4mhQN4Q"
    volumes:
      - kafka-data:/var/lib/kafka/data
      - ./kafka/server.properties:/opt/kafka/config/kraft/server.properties:ro
    command: >
      bash -lc '
        set -e
        if [ ! -f /var/lib/kafka/data/meta.properties ]; then
          /opt/kafka/bin/kafka-storage.sh format -t "$KAFKA_CLUSTER_ID" -c /opt/kafka/config/kraft/server.properties
        fi
        /opt/kafka/bin/kafka-server-start.sh /opt/kafka/config/kraft/server.properties
      '

volumes:
  kafka-data:
  clickhouse_data: